body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  display:flexbox;
  padding: 0;
    margin: 0;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background:#f97316;
  object-fit:fill;
}

.logo {
  font-size:1.5rem;
  font-weight: 500;
  font-weight: bold;
  font-style:italic ;
  text-decoration: none;
}
.icons{
  font-weight: 400;
  display: flex;
  gap: 10px;

}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav li {
  display: inline-block;
}
.header__nav a {
  padding: 8px;
}

.listing {
  text-decoration: none;
  color:black;
  display:flex;
  padding-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

aside,
main {
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  display: flexbox;
  height:auto;
}


.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding-right:1rem;
}

aside {
  margin-right: 24px;
  flex-basis: 250px;
}

main{
  flex-grow: 1;
  display: flexbox;

}
 
  .button {
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    display: flexbox;
    max-width: fit-content;
    margin: 0.2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    flex-flow: column;
  }
  
  .primary {
    background-color: royalblue;
    border-block-color: red;
  }
  .secondary:hover {
    background-color: wheat;
  }
  .icon {
    background-color: royalblue;
    border-block-color: red;
  }
  .link {
    color: blue;
  }
  .mdc-fab {
    background: royalblue;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 2rem;
  }
  p{
    display: flex;
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
    display: flex;
  }