body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  display:flexbox;
  padding: 0;
    margin: 0;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background:#f97316;
  object-fit:fill;
}

.logo {
  font-size:1.5rem;
  font-weight: 500;
  font-weight: bold;
  font-style:italic ;
  text-decoration: none;
}
.icons{
  font-weight: 400;
  display: flex;
  gap: 10px;

}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav li {
  display: inline-block;
}
.header__nav a {
  padding: 8px;
}

.listing {
  text-decoration: none;
  color:black;
  display:flex;
  padding-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

aside,
main {
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  display: flexbox;
}


.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding-right:1rem;
}

aside {
  margin-right: 24px;
  flex-basis: 250px;
}

main{
  flex-grow: 1;
  display: flexbox;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 650px;

}
 
  h1{
    text-align: center;
  }
  img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
  }

  #container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
  }

  .card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
  }

  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
  }
  
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  button {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin:  auto;
    display: flexbox;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: column;
    flex-direction: column;
    cursor: pointer;
  }
  
  .card__details {
    padding: 16px 8px 8px 8px;
  }

  button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
.name_one {
  font-size: 24px;
  font-weight: 600;
  color: black;
  top: -20px;
}
#container_four {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20vh;
  box-shadow:gray 5px 10px;
  border-radius: 12px;
}
.img-over{
  width: 100%;
  border-radius: 12px;
  height: 300px;
  object-fit: cover;
}