body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background:#f97316;
}

.logo {
  font-size:1.5rem;
  font-weight: 500;
  font-weight: bold;
  font-style:italic ;
  text-decoration: none;
}
.icons{
  font-weight: 400;
  display: flex;
  gap: 10px;

}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav li {
  display: inline-block;
}
.header__nav a {
  padding: 8px;
}
.dark-mode {
  background-color: black;
  color: white;
}
.listing {
  text-decoration: none;
  color:#f97316;
  display:flex;
  padding-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

aside,
main {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 1rem;
  display: flexbox;
}


.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding-right:1rem;
}

.aside {
  margin-right: 24px;
  flex-basis:250px;
  display: flexbox;

}

.main{
   display:flexbox;
   height: 650px;
   flex-grow: 1;
}
 
 
.container{
    padding-top: 1rem;
    display: flexbox;
    text-align: center;
}
.snackbar{
    text-align: center;
    justify-content: center;
    margin-top: auto;
    padding: auto;
    overflow: hidden;
    display: flexbox;
}

.label{
    background-color:black;
    color: white;
    margin:  auto;
    display: flexbox;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: column;
    flex-direction: column;
    overflow: hidden;
    width:29rem;
    font-size: 1rem;
}
button {
    border: none;
    color: #fff;
    background-color:black;
    margin:  auto;
    display: flexbox;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-flow: column;
    flex-direction: column;
    cursor: pointer;
  }
  p{
    display: flex;
    font-size: 1rem;
  }
  h1{
    font-size: 2rem;
    display: flex;
  }
  button{
    background-color: #f97316;
    border: none;
    cursor: pointer;
  }