body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  display:flexbox;
  padding: 0;
    margin: 0;
    background-color: white;
    color: black;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0.2rem;
  background:#f97316;
  object-fit:fill;
}

.logo {
  font-size:1.5rem;
  font-weight: 500;
  font-weight: bold;
  font-style:italic ;
  text-decoration: none;
}
.icons{
  font-weight: 400;
  display: flex;
  gap: 0.8rem;

}
.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav li {
  display: inline-block;
}
.header__nav a {
  padding: 0.8rem;
}
.dark-mode {
  background-color: black;
  color: white;
}
.listing {
  text-decoration: none;
  color:#f97316;
  display:flex;
  padding-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

aside,
main {
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
  display: flexbox;
  height:auto;
}


.wrapper {
  display:flex;
  flex-wrap: wrap;
  padding-right:1rem;
 overflow-y: scroll;
}

aside {
  margin-right: 0.4rem;
  flex-basis: 14rem;
}

main{
  flex-grow: 1;
  display: flexbox;

}
.listing:hover{
  background-color:lightgray;
  border-radius: 5px;
  transition: 0.5s;
}
.heading{
  text-align: center;
  font-size: 1rem;
}
button{
  background-color: #f97316;
  border: none;
  cursor: pointer;
}
.buttons{
  text-decoration: none;
  padding: 1rem;
  display: flexbox;
  border-radius: 1rem;
}
a{
  text-decoration: none;
}
main{
  text-align: center;
  font-size: 2rem;
}